<h2>Welcome to {{ hotelName }}</h2>

<ng-container *ngIf="!hideRooms">
  <p>Number of Rooms:
    <span [innerText]="numberOfRooms"
          [ngStyle]="{'color': rooms!.availableRooms ? 'green' : 'red'}">
    </span>
  </p>
</ng-container>

<div>
  <p>{{ rooms?.availableRooms ?? 'No rooms' }}</p>
</div>

<p>{{ rooms | json}}</p>

<ng-container *ngIf="rooms?.availableRooms">
  <div *ngIf="rooms!.availableRooms! > 0">
    Rooms list
    <!-- {{roomList}} -->
    <table class="table-dark">
      <tr>
        <th>Even/Odd</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Amenities</th>
        <th>Checkin Time</th>
        <th>Rating</th>
      </tr>
      <tr *ngFor="let room of roomList | slice : 0:3; let e = even; let i = index"
          [ngClass]="e ? 'even': 'odd'">
        <!-- [ngStyle]="{'background-color': e ? '#2e2e2e' : '#1e1e1e'}"> -->
        <td>{{ e ? 'Even' : 'Odd' }}</td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType }}</td>
        <td>{{ room.price | currency : 'EUR' }}</td>
        <td>{{ room.amenities | titlecase}}</td>
        <td>{{ room.checkinTime | date : 'dd/MMM/yyyy hh:mm aa' }}</td>
        <td>{{ room.rating | number : '1.1-2' : 'en-CA'}}</td>
      </tr>
    </table>
  </div>
</ng-container>
<button class="btn btn-primary"
        (click)="toggle()">Toggle</button>
